html {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  /* font-family: 'Inter';
  font-size: 1rem;
  color: white;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #7047EB; */
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  border: solid;
  border-color: red;
}

.inner-header {
  font-size: 1.5rem;
  margin-left: 10px;
}

.left-inner {
  float: left;
  width: 50%;
  padding-left: 24px;
  /* border: solid; */
  border-color: blue;
}

.right-inner {
  float: right;
  width: 50%;
  padding-left: 24px;
  /* border: solid; */
  border-color: green;
}

.bottom-inner {
  float: left;
  width: 100%;
  border: solid;
  border-color: yellow;
}

.player-div {
  display: block;
  margin: 10px 0;
}

.player-field {
}

.rating-field {
  width: 48px;
}

.players-teams-field {

}

.team-container {
  border: solid;
  border-color: #E9E9E9;
  border-radius: 2px;
  width: 320px;
}